spring:
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password: ""

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: false

  h2:
    console:
      enabled: true

jwt:
  secret: v2DQ/qdsoALW2JjL8a86ENcoBIE1QWAm2sIn10LJa1U=
